<ion-view style="background-image: url('./img/bg.png');">
    <ion-nav-title class="bg-color">Password Setup</ion-nav-title>
    <ion-content>
        <div class="list paddContent">
            <div style="margin-top:100px;">
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Please enter password" ng-model="passwordSetup.password" ng-change="passwordChange()">
                </label>
                <label class="item item-input">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" placeholder="Please enter password" ng-model="passwordSetup.confirmPassword" ng-change="confirmPasswordChange()">
                </label>
                <div class="error-container assertive ng-inactive ng-hide" ng-show="passwordSetup.password=='' && passwordSetup.confirmPassword=='' && createBtnClicked">
                    <div class="error">
                        <i class="ion-information-circled"></i> Kindly check! Fields shouldn't be empty
                    </div>
                </div>
                <div class="error-container assertive ng-inactive ng-hide" ng-show="!createStatus && passwordSetup.password!='' && passwordSetup.confirmPassword!=''">
                    <div class="error">
                        <i class="ion-information-circled"></i> Passwords mismatch! Kindly recheck
                    </div>
                </div>
                <br>
                <br>
                <button class="button button-block button-calm" ng-click="onPasswordSetup()">
                    Create
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
