
<ion-view style="background-image: url('./img/bg.png');">


<ion-nav-bar class="bar-positive">

<ion-nav-buttons side="left">
      <button class="button icon-left ion-chevron-left bar-calm" ng-click="GoBack()">Back</button>
    </ion-nav-buttons>

  </ion-nav-bar>


 <ion-nav-title class="bg-color">Drugs</ion-nav-title>
   <ion-content>
    <center><img ng-src="img/logo.jpg" style="width:50%;height:auto"></center>
    <div class="btns"><button class="button icon ion-document-text positive" ng-click="saveDrugs()"></button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="button icon ion-trash-b positive" ng-click="showConfirm()"></button></div><br><br><br>
 <div class="" >
   <div class="">
    
  <label class="item item-input">
    <span class="input-label">Drug Name</span>
    <input type="text" placeholder="Please enter drug name" ng-model="drugs.name">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.name==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

    <label class="item item-input">
    <span class="input-label">Quantity</span>
    <input type="text" placeholder="Please enter quantity" ng-model="drugs.quantity">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.quantity==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

   <label class="item item-input">
    <span class="input-label">Frequency</span>
    <input type="text" placeholder="Please enter frequency" ng-model="drugs.frequency">
  </label>

   <label class="item item-input">
    <span class="input-label">Reason</span>
    <input type="text" placeholder="Please enter reason" ng-model="drugs.reason">
  </label>


  <!--    <label class="item item-input item-select">
    <div class="input-label">
     Type
    </div>
    <select>
      <option selected>Familial</option>
      <option >Medical</option>
       <option >Gynecological</option>
        <option >Trauma</option>
         <option >Work</option>
          <option >Other</option>
    </select>
  </label> -->

  <label class="item item-input">
    <span class="input-label">Start Date</span>
    <input type="date" placeholder="" ng-model="drugs.startdate">
  </label>

  <label class="item item-input">
    <span class="input-label">End Date</span>
    <input type="date" placeholder="" ng-model="drugs.enddate">
  </label>

   <label class="item item-input">
    <span class="input-label">Side Effects</span>
    <input type="text" placeholder="Please enter side effects" ng-model="drugs.sideeffects">
  </label>

       <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Comments</span>
   <div style="width:65%"><textarea rows="4" placeholder="Please enter comments" ng-model="drugs.comments"></textarea></div>&nbsp;&nbsp;
 
  </label>


<h2 style="text-align:center;font-size:18px;color:white;background-color:#387ef5;padding:10px">Prescription</h2>


  <label class="item item-input">
    <span class="input-label">Drug Name</span>
    <input type="text" placeholder="Please enter drug name" ng-model="drugs.presname">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.presname==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

    <label class="item item-input">
    <span class="input-label">Quantity</span>
    <input type="text" placeholder="Please enter quantity" ng-model="drugs.presquantity">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.presquantity==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

  <label class="item item-input">
    <span class="input-label">Start Date</span>
    <input type="date" placeholder="" ng-model="drugs.presstartdate">
  </label>

  <label class="item item-input">
    <span class="input-label">End Date</span>
    <input type="date" placeholder="" ng-model="drugs.presenddate">
  </label>

         <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Comments</span>
   <div style="width:65%"><textarea rows="4" placeholder="Please enter comments" ng-model="drugs.prescomments"></textarea></div>&nbsp;&nbsp;
  
  </label>
   
   <h2 style="text-align:center;font-size:18px;color:white;background-color:#387ef5;padding:10px">Supplemental</h2>

   <label class="item item-input">
    <span class="input-label">Drug Name</span>
    <input type="text" placeholder="Please enter drug name" ng-model="drugs.supname">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.supname==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

    <label class="item item-input">
    <span class="input-label">Quantity</span>
    <input type="text" placeholder="Please enter quantity" ng-model="drugs.supquantity">
  </label><div class="error-container assertive ng-inactive ng-hide" ng-show="saveBtnClicked && drugs.supquantity==''">
                    <div class="error">
                        <i class="ion-information-circled"></i> This field is required!
                    </div>
                </div>

  <label class="item item-input">
    <span class="input-label">Start Date</span>
    <input type="date" placeholder="" ng-model="drugs.supstartdate">
  </label>

  <label class="item item-input">
    <span class="input-label">End Date</span>
    <input type="date" placeholder="" ng-model="drugs.supenddate">
  </label>

         <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Comments</span>
   <div style="width:65%"><textarea rows="4" placeholder="Please enter comments" ng-model="drugs.supcomments"></textarea></div>
  
  </label>
  
   </div>
</div>






</ion-content>





</ion-view>

