
<ion-view style="background-image: url('./img/bg.png');">
 <ion-nav-title class="bg-color">Social History</ion-nav-title>

   <ion-content>
 <div class="boxContent" >
   <div class="inputItems">
    <div class="button button-icon icon ion-ios-plus-outline iconRight" ng-click="addSocial()"></div>
  <label class="item item-input">

  </label>

<ul class="list">

  <li class="item item-toggle">
     Tobacco Use
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li>
  <label class="item item-input">
    <span class="input-label">Packs Per Day</span>
    <input type="text" placeholder="Please enter packs per day">
  </label>
  <label class="item item-input">
    <span class="input-label">Number Of Years</span>
    <input type="text" placeholder="Please enter number of years">
  </label>

    <label class="item item-input">
    <span class="input-label">Years-Quit</span>
    <input type="text" placeholder="Please enter years-quit">
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
     Alcohol Use
    </div>
    <select>
      <option selected>1</option>
      <option >2</option>
       <option >3</option>
    </select>
  </label>

   <label class="item item-input item-select">
    <div class="input-label">
   Recreational Drug Use
    </div>
    <select>
      <option selected>1</option>
      <option >2</option>
       <option >3</option>
    </select>
  </label>

  </li>

   <li class="item item-toggle">
     Tatoos
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li>
<label class="item item-input">
    <span class="input-label">Blood Transfusion</span>
    <input type="text" placeholder="Please enter Reason/Year">
  </label>

  <label class="item item-input">
    <span class="input-label">Special Diet</span>
    <input type="text" placeholder="Please enter special diet details">
  </label>

    <label class="item item-input">
    <span class="input-label">Regular Exercise</span>
    <input type="text" placeholder="Please enter Times per week/minutes per workout">
  </label>

     <label class="item item-input">
    <span class="input-label">Sexually Transmitted</span>
    <input type="text" placeholder="Please enter details">
  </label>

     <label class="item item-input">
    <span class="input-label">Current Conditions</span>
    <input type="text" placeholder="Please enter name">
  </label>

  <label class="item item-input">
    <span class="input-label">Start Date</span>
    <input type="date" placeholder="">
  </label>

  <label class="item item-input">
    <span class="input-label">End Date</span>
    <input type="date" placeholder="">
  </label>


       <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Comments</span>
   <div style="width:65%"><textarea rows="4" placeholder="Please enter comments"></textarea></div>
  </label>
  </li>




</ul>


 </div>
</div>






</ion-content>




</ion-view>

