<ion-view style="background-image: url('./img/bg.png');">
    <ion-nav-title class="bg-color">Create Profile</ion-nav-title>
    <ion-content>
   <div class="list">






 <div class="paddContent" style="margin-top:20px;">
  <label class="item item-input">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Enter firstname" ng-model="profile.firstname">
  </label>

  <label class="item item-input">
    <span class="input-label">Email id</span>
    <input type="text" placeholder="Enter emailId" ng-model="profile.emailid">
  </label><br>
  
<center><span class="fnt">Profile Color:</span></center>

<div class="foo color1"  ng-click="changeColor(1)"> </div>
<div class="foo color2"  ng-click="changeColor(2)"></div>
<div class="foo color3"  ng-click="changeColor(3)"></div>
<div class="foo color4"  ng-click="changeColor(4)"></div>
<div class="foo color5"  ng-click="changeColor(5)"></div><br>


<center><span class="fnt">Profile Image:</span></center>

<center>
    <div class="row" style="margin-top:5px;">
        <div class="col"><div style="padding:10px;" id="img1" ng-class="colorProfile1Class" ng-click="touch('Profile1','img/f1.png')"><img src="img/f1.png" width="80px" height="80px" >
        </div></div>
        <div class="col"><div style="padding:10px;" ng-class="colorProfile2Class" ng-click="touch('Profile2','img/m3.png')"><img src="img/m3.png" width="80px" height="80px"></div></div>
        
    </div>
    
    <div class="row" style="margin-top:5px;">
        <div class="col"><div style="padding:10px;" ng-class="colorProfile3Class" ng-click="touch('Profile3','img/c5.png')"><img src="img/c5.png" width="80px" height="80px"></div></div>
        <div class="col"><div style="padding:10px;" ng-class="colorProfile4Class" ng-click="touch('Profile4','img/c2.png')"><img src="img/c2.png" width="80px" height="80px"></div></div>
        
    </div>
    
    
</center>

  <button class="button button-block button-calm" ng-click="capturePhoto()">
  Take Photo
 </button>


 <center>        <div style="padding:10px;" ng-class="colorProfileClass" ><img ng-src={{profile.picture}} width="80px" height="80px"></div>
</center>
       
        
    

  <button class="button button-block button-calm" ng-click="updateProfile()">
  Create Profile
 </button>



  </div>
 
    </div>



    </ion-content>
</ion-view>
