
<ion-view style="background-image: url('./img/bg.png');">


<ion-nav-bar class="bar-positive">

<ion-nav-buttons side="left">
      <button class="button icon-left ion-chevron-left bar-positive" ng-click="GoBack()">Back</button>
    </ion-nav-buttons>

  </ion-nav-bar>



 <ion-nav-title class="bg-color">Health Care Provider</ion-nav-title>
 <ion-content>
 <center><img ng-src="img/logo.jpg" style="width:50%;height:auto"></center>
    <div class="btns"><button class="button icon ion-document-text positive" ng-click="saveHealthCare()"></button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="button icon ion-trash-b positive" ng-click="showConfirm()"></button></div><br><br><br>
 <div class="" >
   <div class="">
    

  <label class="item item-input">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Please enter first name" ng-model="healthcare.name">
  </label>
 
   <label class="item item-input item-select">
    <div class="input-label">
 Type
    </div>
    <select ng-model="healthcare.type">
      <option selected>Type 1</option>
      <option >Type 2</option>
    </select>
  </label>




   <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Address</span>
   <div style="width:65%"><textarea rows="4" placeholder="Please enter address " ng-model="healthcare.address"></textarea></div>
  </label>

    <label class="item item-input">
    <span class="input-label">City</span>
    <input type="text" placeholder="Please enter city" ng-model="healthcare.city">
  </label>

  <label class="item item-input">
    <span class="input-label">State</span>
    <input type="text" placeholder="Please enter state" ng-model="healthcare.state">
  </label>

    <label class="item item-input">
    <span class="input-label">Zip</span>
    <input type="number" placeholder="Please enter zip code" ng-model="healthcare.zip">
  </label>

 <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Please enter email" ng-model="healthcare.email">
  </label>
     <label class="item item-input">
    <span class="input-label">Phone</span>
    <input type="text" placeholder="Please enter landline number" ng-model="healthcare.phone">
  </label>

     <label class="item item-input">
    <span class="input-label">Cell Phone</span>
    <input type="text" placeholder="Please enter cell phone nuber" ng-model="healthcare.cellphone">
  </label>

 



       <label class="item item-input">
    <span class="input-label" style="white-space:normal !important">Comments</span>
   <div style="width:40%"><textarea rows="4" placeholder="Please enter comments" ng-model="healthcare.comments"></textarea></div>
  </label>






  

   </div>
   
  
  </div>



</ion-content>




</ion-view>

